<nav class="nav">
  <ul class="d-flex container nav-list">
    <li class="nav-text">WILLIAM LEE</li>
    <li class="nav-text">BASED IN TAIWAN</li>
    <li class="nav-text">CURRENTLY FRONT END <br> ENGINEER AT HEXSCHOOL</li>
    <li class="nav-text">CONTACT ME</li>
  </ul>
</nav>

<section class="banner-section">
  <div class="container d-flex">
    <img class="banner__img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/people.png" alt="people">
    <div class="banner-content">
      <h1 class="banner__text-small">
        Hi<br>
        I’m a front-end developer
        <span class="banner__text-large">William</span>
      </h1>
      <button class="banner-button" type="button">
        <p class="banner-button__text">contact me</p>
        <img class="banner-button__img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/9f843c654f4bbfb95e6ab2eaf0c5a42f2c3c6205/2023week2/arrow_outward.svg" alt="arrow_outward">
      </button>
    </div>
  </div>
</section>

<section class="introduction-section">
  <div class="container introduction-container">
    <div class="introduction-content">
      <h2 class="introduction__title">Introduction</h2>
      <p class="introduction__text">Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.</p>
      <div class="introduction-content__img-container">
        <img class="introduction-content__img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/sparkle-sm.png" alt="sparkle-sm">
        <img class="introduction-content__img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/sparkle-sm.png" alt="sparkle-sm">
        <img class="introduction-content__img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/sparkle-sm.png" alt="sparkle-sm">
      </div>
    </div>
    <img class="introduction__img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/sparkle.png" alt="sparkle">
    <img class="introduction__img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/photographer.png" alt="photographer">
    <img class="introduction__img-large" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/people-2.png" alt="people">
  </div>
</section>

<section class="about-section container">
  <div class="about-card-container">
    <div class="about-card">
      <h5 class="about-card__title">01</h5>
      <h6 class="about-card__title">Attention to Detail</h6>
      <p class="about-card__text">Meticulous code analysis and optimization.</p>
    </div>
    <div class="about-card">
      <h5 class="about-card__title">02</h5>
      <h6 class="about-card__title">Adaptability</h6>
      <p class="about-card__text">Swift learning of new technologies.</p>
    </div>
    <div class="about-card">
      <h5 class="about-card__title">03</h5>
      <h6 class="about-card__title">Problem Solver</h6>
      <p class="about-card__text">Identifying and resolving issues.</p>
    </div>
    <div class="about-card">
      <h5 class="about-card__title">04</h5>
      <h6 class="about-card__title">Team Player</h6>
      <p class="about-card__text">Collaborates and shares ideas.</p>
    </div>
  </div>
  <div class="about-caption">
    <h2 class="about-caption__title">About Me</h2>
    <p class="about-caption__text">With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
  </div>
</section>


<section class="contact-section">
  <div class="contact-container container">
    <h2 class="contact__title">
      CONTACT ME
      <img class="contact__img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/trending_flat_black_24dp%201.png" alt="arrow">
    </h2>
    <div class="contact-icon-container">
      <img class="contact-icon" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/discord.png" alt="discord">
      <img class="contact-icon" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/instagram.png" alt="instagram">
      <img class="contact-icon" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/message.png" alt="message">
    </div>
  </div>
</section>

<section class="project-section container">
  <h2 class="project__title">My Projects</h2>
  <div class="d-flex">
    <img class="project__img-1" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/Rectangle%2010.png" alt="computer">
    <div class="project-main">
      <div class="d-flex">
        <img class="project__img-2" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/Rectangle%2015.png" alt="computer">
        <div class="project-content">
          <p class="project-content__text">I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take pride in creating clean, efficient, and user-friendly code.</p>
          <button class="project-content__button" type="button">SEE MORE
            <img class="project-content__icon" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/arrow_outward-white.png" alt="arrow">
          </button>
        </div>
      </div>
      <div class="d-flex">
        <img class="project__img-3" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/Rectangle%2014.png" alt="phone">
        <img class="project__img-4" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/Rectangle%2029.png" alt="computer">
      </div>
    </div>
  </div>
</section>

<footer class="footer">all rights reserved &#64;hexschool2023</footer>
